<h1>Lista de Tareas</h1>

<% @tasks.each do |task| %>
  <p><%= link_to task.title, "/tasks/#{task.id}" %></p>
<%= link_to "Delete",
  task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%><% end %>
<%= link_to "Add a new task", "/tasks/new" %>
